@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-family: Roboto;
}

.calculator {
  max-width: 350px;
  margin: 0 auto;
  border: 2px solid #006dcd69;
  border-radius: 15px;
  background-image: radial-gradient(circle, #006fcd, #008edd, #00a9de, #00c1d3, #00d7c3);
  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,57,107,0.58); 
box-shadow: 0px 0px 16px -1px rgba(0,57,107,0.58);
}

.currentNumDisplay {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 44.53px;
  border-bottom: 2px solid #ffffff69;
  padding-right: 1.3rem;
  text-align: right;
  font-size: 2.25rem;
}
.previousNumDisplay {
  width: 100%;
  height: 23.8px;
  text-align: right;
  font-size: 1.2rem;
  padding-right: 1.6rem;
  padding-top: .45rem;
}

.button-wrapper {
  padding: 1.25rem;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: .5rem;
}

.calc-button {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #006dcd69;
  padding: 1.25rem;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  color: black;
}
.calc-button:hover {
  background: #ffffff94;
}
.calc-button:active {
  background: #ffffffac;
}

.clear-button {
  grid-column: span 3;
}
.zero-button {
  grid-column: 1/3;
}